[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"

[packages]
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-cors-headers = "==1.2.2"
Django = "==1.11.20"
bugsnag = "*"

[requires]
python_version = "3.7"
