[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"

[packages]
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-cors-headers = "==1.1.0"
Django = "==1.7.11"
bugsnag = "*"

[requires]
python_version = "2.7"
