Django==1.4.4
Markdown==2.1.1
Pygments==1.4
South==0.7.3
certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
django-browserid==0.5
docutils==0.8.1
gunicorn==0.14.0
-e git+https://github.com/kylef/lithium.git@5a22b6046ee0b82ae29838966916bcb5b37fcd16#egg=lithium-dev
psycopg2==2.4.4
requests==0.11.2
wsgiref==0.1.2
pylibmc==1.2.2
django-pylibmc-sasl==0.2.4
