Django==1.4.4
Markdown==2.1.1
Pygments==1.4
South==0.7.3
certifi==0.0.8
chardet==1.0.1
dj-database-url==0.2.1
django-browserid==0.5
docutils==0.8.1
gunicorn==0.14.0
psycopg2==2.4.4
requests==0.11.2
wsgiref==0.1.2
django-cors-headers==1.1.0
