{% extends "base.html" %}

{% block content %}
    <p class="note">
    <a href="/quotes/add/" alt="Add a new quote">Add Quote</a> |
    <a href="/quotes/all/" alt="All quotes">All Quotes</a> |
    <a href="/quotes/top/" alt="Top Quotes">Top Quotes</a> |
    <a href="/quotes/random/" alt="Random Quotes">Random Quotes</a>
    </p>

    <h1>Quotes</h1>

    {% for object in object_list %}
       <h2 id="quote-{{ object.pk }}">Quote #{{ object }} ({{ object.votes }}) [<a href="{{ object.get_absolute_url }}up/">+</a>|<a href="{{ object.get_absolute_url }}down/">-</a>]</h2>

        <ul class="quote">
          {% for line in object.line_set.all %}
            {% if line.is_action %}
              <li class="action">* <span class="sender">{{ line.sender }}</span> {{ line.message }}</li>
            {% else %}
              <li><span class="sender">&lt;{{ line.sender }}&gt;</span> {{ line.message }}</li>
            {% endif %}
          {% endfor %}
        </ul>

        <p>Uploaded: {{ object.upload_time }}</p>
    {% endfor %}

    <div class="pagination">
      {% if page_obj.has_previous %}
        <a class="previous" href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
      {% endif %}

      {% if page_obj.has_next %}
        <a class="next" href="?page={{ page_obj.next_page_number }}">Next Page</a>
      {% endif %}
    </div>
{% endblock %}
