<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Dark Science{% endblock %}</title>
    <link rel='shortcut icon' href='http://darkscience.ws/images/favicon.ico' type='image/x-icon' />
    <link rel='stylesheet' href='{{ STATIC_URL }}css/master.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='{{ STATIC_URL }}css/pygment.css' type='text/css' media='all' />
</head>

<body>
    <div id='container'>
        <header>
            <a href='./' id='logo'></a>

            {% load quote %}
            <div id="quote">{% random_quote_line %}</div>
        </header>

        <nav>
            <a href="/">Home</a>
            <a href="/wiki/servers/">Servers</a>
            <a href="/wiki/faq/">FAQ</a>
            <a href="/wiki/user-guide/">User Guide</a>
            <a href="/quotes/">Quotes</a>
            <a href="/wiki/idlerpg/">IdleRPG</a>
            <!--a href="/wiki/paste/">Paste</a-->
            <a href="/wiki/links/">Links</a>
            <a href="/wiki/snm/">SNM</a>
            <a href="/wiki/wargames/">Wargames</a>
            <a href="/wiki/history/">History</a>
            <!--a href="/wiki/">Wiki</a-->
        </nav>

        <article>
            {% block content %}
            {% endblock %}
        </article>
    </div>
</body>
</html>
